*.pyc
__pycache__
*.json
data*
.vs*
.ipynb_checkpoints*
radioactive_text.pyproj
radioactive_text.sln
test.py
multi_gpu_test.py
experiments*
runs*
radioactive-lab.pyproj
radioactive-lab.sln
train_feature_space_mapping.py
old_runs*
